<div class="p-3 bg-[#FAFAFA] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold">Minha tarefa</p>
      <img class="self-start cursor-pointer ml-auto" src="/images/icon-delete.svg">
  </div>
  <p class="font-light text-sm"> Conteudo tarefa</p>
  <div class="flex items-center gap-1">
    <img src="/images/icon-comments.svg">
    <p class="font-semibold text-xs text-shadow-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer">
      2 comentários
    </p>
    <p class="font-semibold text-xs text-shadow-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto">
      Editar
    </p>
  </div>
</div>
